﻿body {
    color: #333;
    font: .75em Verdana,Tahoma,Helvetica,'MS Sans Serif',sans-serif;
    text-align: center;
    min-width: 1000px;
    max-width: 1400px;
    margin:0 auto;
}

td {
	border: 1px solid #c2c2c2;
	padding: 2px;
	text-align: center;
}

ul {
    -webkit-padding-start: 3px;
}
h3 {
    font-size: 1.3em;
    margin: 0.3em;
}

.td_no_border {
	border: 0px;
}

.width172 {
	width: 172px;
	height: 19px;
	font-size: 14px;
	text-align: center;
}

.width25 {
	width: 25px;
	height: 25px;
}

.width100 {
    width: 100%;
}

.left
{
	text-align: left;
}

.right
{
    text-align: right;
}

.top3
{
    margin-top: 3px;
}

.top5
{
    margin-top: 5px;
}

.bottom5
{
    margin-bottom: 5px;
}

.bottomline
{
    padding-bottom: 5px;
    border-bottom: 1px solid #c2c2c2;
}

input.valuefield
{
	text-align: center;
    width: 99%;
}

.submit
{
    margin: 5px;
}

.parent
{
    display: inline-block;
    margin: 5px;
    text-align: left;
    width: 100%;
}

.child
{
    margin: 5px;
    text-align: left;
    float: left;
}

.s55search
{
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 8px;
    height: 25px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #fff;
    background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(20%,#fff),color-stop(50%,#f6f6f6),color-stop(52%,#eee),color-stop(100%,#f4f4f4));
    background: -webkit-linear-gradient(top,#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);
    background: -moz-linear-gradient(top,#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);
    background: -o-linear-gradient(top,#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);
    background: linear-gradient(top,#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);
    background-clip: padding-box;
    box-shadow: 0 0 3px #fff inset,0 1px 1px rgba(0,0,0,.1);
    color: #444;
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
}

section.head
{
    border-bottom: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    border-left: 1px solid #c2c2c2;
    padding: 3px;
    height: 21px;
}


div.messager
{
    text-align: center;
    font-size: 12px;
    color: #FF0000;
    border: 0px;
    padding: 0px;
}

.spec
{
    font: 15px/18px Arial, Tahoma, Verdana, sans-serif;
    position: relative;
    width: auto;
    height: auto;
    opacity: 1;
    overflow: inherit;
}

.grG {
    color: #015DCB;
    font-weight: bold;
}

.tabspec
{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
}

div.container
{
    padding: 0px;
    margin: 0px;
}

div.menu
{
    border-bottom: 1px solid #c2c2c2;
    padding: 0px;
    margin-bottom: 5px;
}

div.block
{
    border-bottom: 1px solid #c2c2c2;
    padding: 0px;
    display: inline-block;
}

div.time
{
    float: left;
    text-align: left;
    width: 30%;
    font-size: 14px;
    margin-top: 1px;
}

div.logpass
{
    float: right;
    text-align: right;
    width: 50%;
}

div.result
{
    display:none; 
    background-color:red; 
    width:400px; height:300px;
    top:50%; left:50%;
    border:solid 1px;
    position: absolute;
    margin:-150px 0 0 -200px;
    text-align: center;
}

div.tovar_name
{
    padding: 0 10px 11px;
}

div.addBT
{
    display: inline-block;
    margin-top: 20px;
    width: 80%;
    border: 1px solid #c2c2c2;
    box-shadow: 5px 11px 45px -9px rgba(0,0,0,0.76);
    background: #FFFFFF;
}


table {
	border-collapse: collapse;
}

.tabheader
{
    font-size: 11px;
	font-weight: 900;
    color: #777777;
    background: #f2f2f2;
    border: solid #e6e6e6;
    border-width: 1px;
    padding: 5px;
    text-align: center;
}

.sel {
	width: 200px;
	height: 27px;
}

select {
	width: 200px;
}

option {
	color: #000;
}

.layer {
	width: 49%;
	padding: 5px; /* Поля вокруг текста */
    float: left; /* Обтекание по правому краю */
}

.layer_tree {
    width: auto;
    margin-left: 50px;
}

.window {
    display: none;
    position: absolute;
    z-index: 999;
}

.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(255,255,255,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    z-index: 9999;
}
.b-popup .b-popup-content{
    position: absolute;
    top: 40%;
    left: 50%;
    margin:40px auto 0px auto;
}

/*-----------------------------------------------------------*/

html, body {
    margin: 0;
    padding: 0;
}

body > * {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
}

ul.tree {
    width: 100%;
    padding: 0;
}

li,
li > a,
li > span {
    padding: 0pt;
    /*border-radius: 4px;*/
}

a {
    color: #55f;
    text-decoration: none;
    border-radius: 4px;
}

input.button {
    color: #55f;
    text-decoration: none;
    border-radius: 4px;
}

p{
    margin-top: 0px;
}

a.noedit {
    display: none;
}

a.edit {
    cursor: pointer;
}

a.black {
    color: #000;
    text-decoration: none;
    line-height: 0pt;
}

a:hover {
    background-color: #ddd;
    color: #11b;
}

.active {
    background-color: #55f;
    color: white;
}

a.active:hover {
    background-color: #88f;
}

.button {
    display: inline-block;
    vertical-align: middle;
    padding: 0.5rem 1.5rem;
    margin: 3px;
    background-color: #F3F3F3;
    border: 1px solid #ACACAC;
    -moz-box-shadow: inset 0px 0px 1px rgba(187,187,187,1);
    -webkit-box-shadow: inset 0px 0px 1px rgba(187,187,187,1);
    box-shadow: inset 0px 0px 1px rgba(187,187,187,1);
    background-image: -o-linear-gradient(0deg , rgb(238,238,238) 0%, rgb(254,254,254) 100%);
    background-image: -moz-linear-gradient(0deg , rgb(238,238,238) 0%, rgb(254,254,254) 100%);
    background-image: -webkit-linear-gradient(0deg , rgb(238,238,238) 0%, rgb(254,254,254) 100%);
    background-image: -ms-linear-gradient(0deg , rgb(238,238,238) 0%, rgb(254,254,254) 100%);
    background-image: linear-gradient(0deg , rgb(238,238,238) 0%, rgb(254,254,254) 100%); */
    color: #2B2C2B;
    text-shadow: rgba(254,254,254,0.5) 0px 1px 0px;
}

.button_cancel {
    display: inline-block;
    vertical-align: middle;
    padding: 0.5rem 1.5rem;
    margin: 3px;
    background-color: #F3F3F3;
    border: 1px solid #ACACAC;
    -moz-box-shadow: inset 0px 0px 1px rgba(187,187,187,1);
    -webkit-box-shadow: inset 0px 0px 1px rgba(187,187,187,1);
    box-shadow: inset 0px 0px 1px rgba(187,187,187,1);
    background-image: -o-linear-gradient(0deg , rgb(238,238,238) 0%, rgb(254,254,254) 100%);
    background-image: -moz-linear-gradient(0deg , rgb(238,238,238) 0%, rgb(254,254,254) 100%);
    background-image: -webkit-linear-gradient(0deg , rgb(238,238,238) 0%, rgb(254,254,254) 100%);
    background-image: -ms-linear-gradient(0deg , rgb(238,238,238) 0%, rgb(254,254,254) 100%);
    background-image: linear-gradient(0deg , rgb(238,238,238) 0%, rgb(254,254,254) 100%); */
    color: #2B2C2B;
    text-shadow: rgba(254,254,254,0.5) 0px 1px 0px;
    cursor: default;
}

.button-green {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-shadow: rgba(0,0,0,0.5) 0px 1px 0px;
    background: #428739;
    background: -webkit-gradient(linear, left top, left bottom, from(#c8dd95), to(#428739));
    background: -moz-linear-gradient(-90deg, #c8dd95, #428739);
    filter: progid: DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#c8dd95', EndColorStr='#428739');
}
.button-green:hover {
    background: #c8dd95;
    background: -webkit-gradient(linear, left top, left bottom, from(#428739), to(#c8dd95));
    background: -moz-linear-gradient(-90deg, #428739, #c8dd95);
    filter: progid: DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#428739', EndColorStr='#c8dd95');
}
.button-green:active {
    background: #428739;
}

.button-red {
    color: #ffffff;
    text-shadow: rgba(0,0,0,0.5) 0px 1px 0px;
    background: #D82741;
    background: -webkit-gradient(linear, left top, left bottom, from(#E84B6E), to(#D82741));
    background: -moz-linear-gradient(-90deg, #E84B6E, #D82741);
    filter: progid: DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#E84B6E', EndColorStr='#D82741');
}
.button-red:hover {
    background: #E84B6E;
    background: -webkit-gradient(linear, left top, left bottom, from(#D82741), to(#E84B6E));
    background: -moz-linear-gradient(-90deg, #D82741, #E84B6E);
    filter: progid: DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#D82741', EndColorStr='#E84B6E');
}
.button-red:active {
    background: #D82741;
}

a.close_ui
    {
        cursor: pointer; 
        position: absolute; 
        top: 8px; 
        right: 3px; 
        width: 12px; 
        height: 12px; 
        background: url(chosen-sprite.png) -42px 1px no-repeat; 
        font-size: 1px;
    }

a.close_li
    {
        cursor: pointer; 
        position: absolute; 
        top: 5px; 
        right: 3px; 
        width: 12px; 
        height: 12px; 
        background: url(chosen-sprite.png) -42px 1px no-repeat; 
        font-size: 1px;
    }

/* миниатюры слева/справа */
.pic-left, 
.pic-right {
    width: 25%;
    height: auto;
}
.pic-left {
    float: left;
    margin: 5px 15px 5px 0;
}
.pic-right {
    float: right;
    margin: 5px 0 5px 15px;
}

/*-----------------------------------------------------------*/

.sv {
    position: relative;
    margin: 3px 3px 3px 0;
    padding: 3px 3px 3px 3px;
    border: 1px solid #aaa;
    max-width: 100%;
    border-radius: 3px;
    background-color: #eee;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(20%,#f4f4f4),color-stop(50%,#f0f0f0),color-stop(52%,#e8e8e8),color-stop(100%,#eee));
    background-image: -webkit-linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);
    background-image: -moz-linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);
    background-image: -o-linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);
    background-image: linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);
    background-size: 100% 19px;
    background-repeat: repeat-x;
    background-clip: padding-box;
    box-shadow: 0 0 2px #fff inset,0 1px 0 rgba(0,0,0,.05);
    color: #333;
    line-height: 13px;
    cursor: default;
    float: left;
    list-style: none;
}

div.informer{
    background: url(help.png) 0 -16px no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
    margin: 0 0 -3px 2px;
}

/*---------------------------------------ImageLoader-------------------------------------------*/

div.dropZone, div.dropZone1, div.dropZone2 {
    width: 200px; 
    height: 200px; 
    border: 1px solid #c2c2c2; 
    margin: 3px; 
    float: left;
    overflow: hidden;

    color: #555;
    font-size: 12px;
    text-align: center;
    
    background: #fff;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#dropZone, #dropZone1, #dropZone2 {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#dropZone.hover, #dropZone1.hover, #dropZone2.hover {
    background-color: rgba(0,0,255,0.1);
}

#dropZone.error, #dropZone1.error, #dropZone2.error {
    background-color: rgba(255,0,0,0.1);
}

#dropZone.drop, #dropZone1.drop, #dropZone2.drop {
    background-color: rgba(0,255,0,0.1);
}
/*----------------------------------------------------------------------------------------------*/

span .col {
    display: none;
}